@font-face {
  font-family: "game";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:focus {
  outline: 0;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #6e7888;
}

body {
  background-color: #1c2030;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6e7888;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  
  /*border: 2px solid red;*/
}

canvas {
  background-color: #181825;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;


  /*border: 3px solid yellow;*/
}

#ui {
  display: flex;
  align-items: center;
  font-size: 10px;
  flex-flow: column;
  margin-left: 10px;
}

h2 {
  font-weight: 900;
  font-size: 10px;
  letter-spacing: 8px;
  margin-bottom: 30px;
  transform: rotate(270deg);
}

#score {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 800;
  transform: rotate(-90deg);
}

#replay {
  font-size: 10px;
  font-weight: 600;
  padding: 10px 20px;
  background: #6e7888;
  color: #222738;
  border: none;
  border-radius: 40px;
  transform: rotate(270deg);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

#replay:hover {
  background: #a6aab5;
  background: #4cffd7;
  transition: all 200ms ease-in-out;
}

#replay svg {
  margin-right: 8px;
}

#user-form {
  display: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

#user-form input,
#submitBtn {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  #replay {
    margin-bottom: 20px;
    font-size: 18px;
  }

  #replay,
  h2 {
    transform: rotate(0deg);
  }

  #ui {
    flex-flow: row wrap;
    margin-bottom: 20px;
  }

  #ui h2 {
    font-size: 16px;
    margin-top: 30px;
  }

  #score {
    margin-top: 0;
    margin-left: 20px;
    transform: rotate(0deg)
  }

  .container {
    flex-flow: column wrap;
  }
}