@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  button:focus {
    outline: none;
  }

  html,
  body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: #6e7888;
  }

  body {
    background-color: #222738;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6e7888;
  }

  .wrapper {
    border: 2px solid red;
    flex-flow: row wrap; /* flex-flow est une combinaison des propriétés flex-direction et flex-wrap */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  canvas {
    background-color: #181825;
  }

  .container {
    border: 3px solid yellow;
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  #ui {
    display: flex;
    align-items: center;
    font-size: 10px;
    flex-flow: column;
    margin-left: 10px;
  }

  h2 {
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 8px;
    margin-bottom: 30px;
    transform: rotate(270deg);
  }

  #score {
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
    transform: rotate(-90deg);
  }

  .noselect {
    user-select: none; /* impossible pour l'utilisateur de sélectionner du texte sur la page */
  }

  #replay {
    font-size: 10px;
    font-weight: 800;
    padding: 10px 20px;
    background: #6e7888;
    border: none;
    border-radius: 40px;
    color: #222738;
    transform: rotate(270deg);
    cursor: pointer;
    transition: all 200ms ease-in-out; /* utilisé afin d'appliquer des animations qu'on définira au survol (hover) de l'élément - ici le bouton Recommencer */
  }

  #replay:hover {
    background: #a6aab5;
    background: #4cffd7;
    transition: all 200ms ease-in-out;
  }

  /* ajouter de l'espace entre l'icone de jeu et le texte du bouton */
  #replay i {
    margin-right: 8px;
  }

  /* --- MEDIA QUERIES --- */
  /* ajuster le layout sur écrans mobile */
  @media (max-width: 600px) {
    #replay {
        margin-bottom: 20px;
    }

    #replay,
    h2 {
        transform: rotate(0deg);
    }

    #ui {
        flex-flow: row wrap;
        margin-bottom: 20px;
    }

    #score {
        margin-top: 0;
        margin-left: 20px;
    }

    .container {
        flex-flow: column wrap;
    }
  }
